@import url(assets/reset.css);

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
   
}

div.container {
    display: grid;
}

/*
div.number {
    display: flex;
    justify-content: center;
}
    */

p.citat {
    font-style: italic;
}

span {
    font-style: normal;
}

embed {
    width: 30vw;
}